h1 {
    text-align: center;
    font-size: 65px;
    margin-bottom: 50px;
    color: black;
}

.bothColumns {
    display: flex;
    gap: 70px;
    justify-content: center;
    align-items: flex-start;

}

.mapColumn, .infoColumn {
    padding: 20px;
}

.mapColumn {
    width: 60%;
}

.mapColumn p {
    margin-bottom: 50px;
    text-align: center;
}

.infoColumn p {
    margin-bottom: 50px;
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
}

.infoColumn .properties p {
    font-size: 18px;
    text-align: left;
    text-decoration: none;
}

.mapColumn svg path {
    fill: rgba(131, 131, 131, 0.665);
    stroke:black;
}

.mapColumn svg path:hover {
    fill: rgb(20, 75, 153);
}

body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
}
